.sprite__expedia{
	background: url('./image/sprite__expedia.png') no-repeat 0 0/1000px auto;
}

.box__navigation--category{
	display: block;
	width: 240px;
}
.box__navigation--category .list .list-item .link {
	display: block;
	width: 240px;
	height: 70px;
}

.box__navigation--category .list .list-item1 .link {
	background-position: 0 -72px;
}

.box__navigation--category .list .list-item2 .link {
	background-position: -242px -72px;
}

.box__navigation--category .list .list-item3 .link {
	background-position: -484px -72px;
}

.box__navigation--category .list .list-item4 .link {
	background-position: -726px -72px;
}

.box__navigation--category .list .list-item1 .link.active {
	background-position: 0 0;
}

.box__navigation--category .list .list-item2 .link.active {
	background-position: -242px 0;
}

.box__navigation--category .list .list-item3 .link.active {
	background-position: -484px 0;
}

.box__navigation--category .list .list-item4 .link.active {
	background-position: -726px 0;
}