.sprite__expedia{
	background: url('./image/sprite__expedia.png') no-repeat 0 0/1000px auto;
}

.box__navigation--category{height:70px}
.box__navigation--category .list-item1 .button {
	background-position: 0 -72px;
}

.box__navigation--category .list-item2 .button {
	background-position: -242px -72px;
}

.box__navigation--category .list-item3 .button {
	background-position: -484px -72px;
}

.box__navigation--category .list-item4 .button {
	background-position: -726px -72px;
}

.box__navigation--category .list-item1 .button.active {
	background-position: 0 0;
}

.box__navigation--category .list-item2 .button.active {
	background-position: -242px 0;
}

.box__navigation--category .list-item3 .button.active {
	background-position: -484px 0;
}

.box__navigation--category .list-item4 .button.active {
	background-position: -726px 0;
}

.swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #fff;
	margin: 0 5px
}